.hero-wrap-2 {
    padding-top: 100px;
    padding-bottom: 100px;
}

.ftco-section {
    padding: 6em 0;
}

.ftco-no-pt {
    padding-top: 0 !important;
}

.ftco-no-pb {
    padding-bottom: 0 !important;
}

.bg-light .maker-bio {
    background: #f8f9fa;
}



.heading-section .subheading {
    font-size: 18px;
    display: block;
    margin-bottom: 10px;
    color: #134a39;
}

.heading-section h2 {
    font-size: 40px;
    font-weight: 700;
}

.breadcrumbs {
    font-size: 16px;
    margin-bottom: 20px;
    padding: 0;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
}

.breadcrumbs span {
    color: rgba(255, 255, 255, 0.8);
}

.breadcrumbs span i {
    color: rgba(255, 255, 255, 0.8);
}

.breadcrumbs a {
    color: #fff;
    text-decoration: none;
}

.breadcrumbs a:hover {
    color: #134a39;
}
